{% extends 'main_tpl.html' %}
{% block content %}
{% load widget_tweaks %}
 <ul class="messages">
   {% for message in messages %}
   <li class="{{ message.tags }}">{{ message|striptags  }}</li>
   {% endfor %}
</ul>
  <h2>Decipline {% if access.parent_id.discipline_id  %}  {{ access.parent_id.discipline_id }} topic {% endif %}
      {{ access }}</h2>
 <h1>ReportCard({{ access.quiestion_quantity }} Questions in test )
     {% if final_quize_status == True %} Final {% else %} Trainy  {% endif %} quize</h1>
    <h2>{% if final_quize_status == True %}
        from {{ access.final_quize_start }} to {{ access.final_quize_end }}
        {% else %}
        from {{ access.test_quize_start }} to {{ access.test_quize_end }}
        {% endif %}
    </h2>

    <form class="post-form" method="post"  enctype="multipart/form-data">
        {% csrf_token %} {{ quize_type }}
    {% for student in students %}
        <p>{{ student }}
        {% if not access.parent_id.discipline_id  %}
            {% for rezult in student.students_quizerezultdecepline_related.all %}
                testing was started at {{  rezult.quize_started_it }} estimation {{ rezult.get_estimation }}
                correct answers {{ rezult.get_correct_answers }} percent {{ rezult.get_correct_answers_percent }}
                <a href="{% url 'teacher_urls:report_card_discipine_detail_url' pk=access.pk user_pk=student.pk %}">Detail</a>
                <button type="submit" name="_retake_quize" value='{{ rezult.pk }}' class="button btn-align secondary-btn raised"> retake_quize </button>
            {% endfor %}
        {% else %}
            {% for rezult in student.students_quizerezulttopic_related.all %}
                testing was started at {{  rezult.quize_started_it }} estimation {{ rezult.get_estimation }}
                correct answers {{ rezult.get_correct_answers }} percent {{ rezult.get_correct_answers_percent }}
                <a href="{% url 'teacher_urls:report_card_topic_detail_url' pk=access.pk user_pk=student.pk %}">Detail</a>
                <button type="submit" name="_retake_quize" value='{{ rezult.pk }}' class="button btn-align secondary-btn raised"> retake_quize </button>
            {% endfor %}
        {% endif %}

    {% endfor %}
        </form>
{% endblock %}
