<h3>ЛИЧНЫЙ КАБИНЕТ</h3>
<ul itemprop="about" itemscope="" itemtype="http://schema.org/ItemList" class="uk-nav uk-nav-default " >
   <li class="gls-115"  itemprop="name"><a itemprop="url"  href="{% url 'teacher_urls:discipline_new_url'  %}" >Личный кабинет</a></li>
   <li class="gls-116"  itemprop="name"><a itemprop="url"  href="{% url 'teacher_urls:personal_account_url'  %}" >Кабинет Преподавателя</a></li>
   <li class="gls-119"  itemprop="name"><a itemprop="url"  href="#"  >Статистика сдачи дисциплин</a></li>
{#   <li class="gls-109"  itemprop="name"><a itemprop="url"  href="#"  >Статистика регистрации студентов</a></li>#}
</ul>