db.sqlite3
journals.db
.env

core/migrations
core/__pycache__
core/api/__pycache__
app/__pycache__
apps/educational_materials/migrations
apps/educational_materials/__pycache__
apps/educational_materials/api/__pycache__
apps/journals/migrations
apps/journals/__pycache__
apps/portal/migrations
apps/portal/__pycache__
apps/portal/api/__pycache__
apps/teachers/migrations
apps/teachers/__pycache__
apps/teachers/templatetags/__pycache__
apps/teachers/api/__pycache__
apps/students/migrations
apps/students/__pycache__
apps/students/api/__pycache__

/.idea
/image
/static
