{% extends 'main.html' %}
{% block content %}
{% load widget_tweaks %}
<h1>Войти</h1>
<form  method="post" enctype="multipart/form-data">
   {% csrf_token %}
    <p class="uk-text-danger">{{ form.non_field_errors }}</p>
   <p class="uk-text-lead">{{ form.username.label }}  {% render_field form.username class="uk-input" %} {{ form.username.errors }}</p>
   <p class="uk-text-lead">{{ form.password.label }}  {% render_field form.password class="uk-input" %} {{ form.password.errors }}</p>
    <p class="uk-text-lead"> {{ form.hcaptcha }} {{ form.hcaptcha.errors }}</p>
   <input type="submit" value="Войти" class="uk-button uk-button-primary" >

</form></p>
<input class="uk-button uk-button-primary" type="button" onclick="location.href='{% url 'core_urls:reset_password_url' %}';" value="Забыл пароль" />
{% if registration %}
<input class="uk-button uk-button-primary" type="button" onclick="location.href='{% url 'core_urls:registration_student_url' %}';" value="Регистрация" />
{% endif %}

{% endblock %}