{% extends 'main.html' %}
{% block content %}
{% load widget_tweaks %}

{% if validlink %}

<h1>Установите новый пароль!</h1>
<form method="POST">
  {% csrf_token %}
    <p class="uk-text-lead">{{ form.new_password1.label }}{% render_field form.new_password1 class="uk-input" %}
        {{ form.new_password1.errors }}</p>
    <p class="uk-text-lead">{{ form.new_password2.label }}{% render_field form.new_password2 class="uk-input" %}
    {{ form.new_password2.errors }}</p>
  <input class="uk-button uk-button-primary"  type="submit" value="Сменить пароль">
</form>

{% else %}

<p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>

{% endif %}
{% endblock %}